<h1>ACTUALIZAR DATOS DEL EMPLEADO</h1>
<button class="btn btn-outline-primary me-2" type="button" (click)="goToIndex()" >LISTA COMPLETA</button>
<form [formGroup]="formUpdateEmployees">

  <!-- Inputs del formulario -->

  <!-- INPUT ID -->
  <div class="form-group">
    <label for="id">ID</label>
    <input
    type="number"
    class="form-control"
    formControlName="id"
    readonly>
  </div>
  <!-- INPUT NOMBRE -->
  <div class="form-group">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="name" class="col-form-label">NOMBRE</label>
      </div>
      <div class="col-auto">
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="nombre"
          oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '').replace(/(\.*)\./g, '$1');"
        />
      </div>
      <div class="col-auto">
        <span *ngIf="formUpdateEmployees.get('nombre')?.errors?.['required']" id="name-required" class="alert alert-danger">
          *el campo es Obligatorio
        </span>
        <span *ngIf="formUpdateEmployees.get('nombre')?.errors?.['maxlength']" id="name-maxlength" class="alert alert-danger">
          *máximo 10 carácteres
        </span>
      </div>
    </div>

    <!-- INPUT APELLIDO -->
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="last-name" class="col-form-label">APELLIDO</label>
      </div>
      <div class="col-auto">
        <input
          type="text"
          id="last-name"
          class="form-control"
          formControlName="apellido"
          oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '').replace(/(\.*)\./g, '$1');"
        />
      </div>
      <div class="col-auto">
        <span *ngIf="formUpdateEmployees.get('apellido')?.errors?.['required']" id="apellido-validator" class="alert alert-danger">
          *el campo es Obligatorio
        </span>
        <span *ngIf="formUpdateEmployees.get('apellido')?.errors?.['maxlength']" id="apellido-maxlength" class="alert alert-danger">
          *máximo 20 carácteres
        </span>
      </div>
    </div>
  </div>

  <!-- boton para enviar el contenido -->
  <button type="submit" class="btn btn-success" [disabled]="formUpdateEmployees.invalid" (click)="replaceEmployee()">GUARDAR</button>
</form>
