@model Practica4.MVC.Models.EmployeesView
@{
    ViewBag.Title = "Actualizar Empleado";

}

<h1>Actualizar Empleado</h1>

@using (Html.BeginForm("Update", "Employees", FormMethod.Post))
{
    <label>ID: </label>
    @Html.TextBoxFor(x => x.EmployeeID)
    <br />
    <label>NOMBRE: </label>
    @Html.TextBoxFor(x => x.FirstName)
    <br />
    <label>APELLIDO: </label>
    @Html.TextBoxFor(x => x.LastName)
    <br />
    <input type="submit" class="btn btn-success" value="Guardar" />
}