  <h1>LISTA DE EMPLEADOS</h1>

  <!-- Navbar -->

  <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">

      <button class="btn btn-sm btn-outline-primary" type="button" (click)="goToInsert()" >AGREGAR NUEVO EMPLEADO</button>
    </form>
  </nav>

  <!-- Tabla Overview - Bootstrap -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">ACTUALIZAR</th>
        <th scope="col">SUPRIMIR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <td>{{employee.FirstName}}</td>
        <td>{{employee.LastName}}</td>
        <td><button type="button" class="btn btn-info" (click)="goToUpdate(employee.EmployeeID)">EDITAR</button></td>
        <td><button type="button" class="btn btn-danger" (click)="eraseEmployee(employee.EmployeeID)">ELIMINAR</button></td>
      </tr>
    </tbody>
  </table>

