  <h1>LISTA DE EMPLEADOS</h1>

  <!-- Navbar -->

  <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">

      <button class="btn btn-sm btn-outline-primary" type="button" (click)="goToInsert()" >AGREGAR NUEVO EMPLEADO</button>
    </form>
  </nav>

  <!-- Tabla Overview - Bootstrap -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">ACTUALIZAR</th>
        <th scope="col">SUPRIMIR</th>
        <button type="button" class="btn btn-info" (click)="goToUpdate()">EDITAR</button>
        <button type="button" class="btn btn-danger">ELIMINAR</button>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        ...
      </tr>
    </tbody>
  </table>

