  <br>
  <h1>LISTA DE EMPLEADOS</h1>

  <!-- Navbar -->

  <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button">Lista de Empleados</button>
      <button class="btn btn-sm btn-outline-secondary" type="button">Agregar Nuevo Empleado</button>
    </form>
  </nav>

  <!-- Tabla Overview - Bootstrap -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">ACTUALIZAR</th>
        <th scope="col">SUPRIMIR</th>
        <button type="button" class="btn btn-info" >EDITAR</button>
        <button type="button" class="btn btn-warning">ELIMINAR</button>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        ...
      </tr>
    </tbody>
  </table>

